.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  height: auto; /* Sayfanın tam yüksekliği */
  overflow: hidden;
}

.imginput{
  display: flex;
  justify-content: center!important;
  align-items: center;
  margin: 20%;
}
.baslik{
  margin: 5%;
}
p{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30vh;
}

.text-center{
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
}

/* Diğer stillemeleri ekleyebilirsiniz */
.try,
.answer-container {
  width: 100%; /* İçeriklerin genişliğini tam sayfa genişliği yapar */
  max-width: 600px; /* İçeriklerin maksimum genişliği belirlenebilir */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Diğer stillemeleri ekleyebilirsiniz */

/* Gerekirse, butonları düzenlemek için stil ekleyebilirsiniz */
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px; /* Örnek bir maksimum genişlik */
  margin-top: 2px; /* İstenirse boşluk ekleyebilirsiniz */
}

/* Diğer stillemeleri ekleyebilirsiniz */
#footer {
  text-decoration: none;
  background-color: #333; /* Footer arka plan rengi */
  color: #fff; /* Footer metin rengi */
  padding: 1% 0; /* Footer içerik iç kenar boşluğu */
  text-align: center; /* Metinleri ortala */
  bottom: 0;
  font-size:1.2vw;
}
.nav-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  height: auto; /* Sayfanın tam yüksekliği */
}
#navbar{
  margin-left: 5vh;
}
body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 960px;
}
.about-image {
  transition: transform 0.3s ease-in-out;
}

.about-image:hover {
  transform: scale(1.1);
}
.project-img{
  transition: transform 0.3s ease-in-out;
  opacity: 0.8;
}
.project-img:hover {
  transform: scale(1.1);
  opacity: 1;
}
.img-fluid {
  width: 100%;
  border-radius: 8px;
  margin: 10%;
  margin-top: 20px;
}
.homeh1{
  font-size: 16vh;
}
.h1-input{
  margin : 5%;
  justify-content: center;
  text-align: center;
}
.button1 {
  background-color: white;
  color: black;
}
.button1:hover {
  background-color: black;
  color: white;
}
.button {
  background-color: transparent; 
  border: 2px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.homep1{
  font-size: 3vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5vh;
}


.corner {
  border-radius: 15px 50px 30px;
  background: wheat;
  padding: 20px;
  object-fit: cover;
  width: 100;
}
body {
  background: #e3f2fd
}

svg {
  font-family: 'Russo One', sans-serif;
  position: absolute; 
  width: 100%; height: 100%;
}
svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 140px;
}
@keyframes stroke {
  0%   {
    fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
  80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
  100% {
    fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}
.arc {
  width: 100%;
  height:500px;
  background: #000000;
  border-radius: 50% / 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-alt:hover{
  background-color: black;
  color: white;
}
.CardStyle{
  margin: 20%;
  width: 10rem;
  border: 10px;
  border-color: #000000;
  border-radius: 20%;
  background-image: url("https://fastly.picsum.photos/id/766/200/200.jpg?hmac=i8NIvzl3XXKwMZzUUjQWAbKOWskcKnOApccdqQpiEzQ");
}
.imgcard{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  width: 100%!important;
  height: 120vh;
  margin-top: 10%;
  margin-bottom: 10% ;
}
.input{
  width: 100%;
}
.foto{
  border-color: #000000;
  border: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.login{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}